{% load static %}
<!-- ++++++++++++++++++++++++++ FOOTER SECTION +++++++++++++++++++ -->

<div class="m-0 w-100" style="background-color: #c6a16e;">
    <!-- <div class="pt-5">
        <p class="lead text-light text-center">The joy of dressing
          is an art</p>
        <hr class=" bg-light">
      </div> -->

    <div class="row w-100 m-0">
        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 col-xs-12">
            <div class=" pt-5">
                <a href="" class=" text-decoration-none">
                    <h1 class=" font-weight-bold text-light text-center heading">AJ BESPOKE</h1>
                </a>
            </div>
            <div>
                <p class="lead text-light text-center">Posh Your Appearance
                    is an art</p>
            </div>

        </div>
        <div class="col">
            <div class="row w-100">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class=" d-flex justify-content-start ml-3">
                        <div>
                            <h4 class="mt-5 font-weight-bold text-light">Links</h4>
                            <div class="d-flex flex-column pt-3">
                                <div class=" d-flex flex-row">
                                    <a href="{% url 'index' %}" class=" text-decoration-none footer-hover">
                                        Home
                                    </a>
                                </div>
                                <div class=" d-flex flex-row mt-2">
                                    <a href="{% url 'services' %}" class=" text-decoration-none footer-hover">
                                        Services
                                    </a>
                                </div>
                                <div class=" d-flex flex-row mt-2">
                                    <a href="{% url 'gallery' %}" class=" text-decoration-none footer-hover">
                                        Gallery
                                    </a>
                                </div>
                                <div class=" d-flex flex-row mt-2">
                                    <a href="{% url 'about' %}" class=" text-decoration-none footer-hover">
                                        About
                                    </a>
                                </div>
                                <div class=" d-flex flex-row mt-2">
                                    <a href="{% url 'contact' %}" class=" text-decoration-none footer-hover">
                                        Contact
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class=" d-flex justify-content-start ml-3">
                <div>
                    <h4 class=" mt-5 font-weight-bold text-light">Contact</h4>
                    <div class="d-flex flex-column pt-3">

                        <div class=" d-flex flex-row">
                            <p class=" text-light">71 Madison Ave 10013 New York, 914-309701, 914-329211,
                                reservations@laurent.com,
                                office@laurent.com </p>
                        </div>

                        <div class="d-flex flex-row">

                            <div class="mr-2">
                                <i class="fab fa-instagram fa-lg my-2 mr-2 text-light"></i>

                            </div>
                            <div class=" mr-2">
                                <i class="fab fa-twitter fa-lg m-2 text-light"></i>

                            </div>
                            <div class=" mr-2">
                                <i class="fab fa-facebook fa-lg m-2 text-light"></i>

                            </div>
                            <div class="">
                                <i class="fab fa-linkedin-in fa-lg m-2 text-light"></i>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class=" bg-light">

    <div class=" d-flex justify-content-center">
        <p class=" text-light">Copyright ©2020 All rights reserved.</p>
    </div>

</div>